<!DOCTYPE html>
<html lang="en">
{%  load static from static %}

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta content="portfolio" name="vvk">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
 <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-icon-180x180.png' %} ">
   <link href="{% static 'assets/pokeball.ico' %}" rel="icon">

  <title>Home</title>

<link href="{% static 'main.3f6952e4.css' %}" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="nav navbar-nav ">
         <li class="nav-item active"><a href="{% url 'index'%}" title="">01 : Home</a></li>
          <li class="nav-item "><a href="{% url 'works'%}" title="">02 : Projects</a></li>
          <li class="nav-item"><a href="{% url 'about'%}" title="">03 : About me</a></li>
         <li class="nav-item"><a href="{% url 'contact'%}" title="">04 : Contact</a></li>
        </ul>



      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Santiago Urban</span>
                  <span>Software Developer</span>
                  <span>Django Lover</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     
  });
</script>


<script type="text/javascript" src="{% static 'main.70a66962.js' %}"></script></body>

</html>